* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
  letter-spacing: 10px;
}

.nav__h1 {
  position: relative;
  top: -90px;
  left: 380px;
}

.nav2__h1 {
  position: relative;
  top: -90px;
  left: 280px;
}

.menu__h1 {
  position: relative;
  top: -90px;
  left: 440px;
}


h2 {
  font-size: 32px;
  padding: 40px 60px;
  margin: 60px 380px 20px 380px;
}

h3 {
  font-size: 28px;
}

.review__total {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  margin: 50px 0;
}

.body--gradient {
  height: 1255px;
  background-image: linear-gradient(to bottom right, #4C469F, rgba(251,139,187,0.28));
  border-radius: 0 0 50px 50px;
  box-shadow: 5px 10px 10px rgba(229,80,143,0.15);
  margin-bottom: 30px;
}

.body--purple {
  height: 1300px;
  background-image: linear-gradient(to top, #4C469F, rgba(76,70,159,0.68));
  border-radius: 50px 50px 0 0;
  box-shadow: 0 -10px 10px rgba(76,70,159,0.25);
}

.review-total {
  height: 350px;
  width: auto;
  background-image: linear-gradient(to top, #E5508F, rgba(229,80,143,0.4));
  border-radius: 50px 50px 0 0;
  box-shadow: 0 -10px 10px rgba(76,70,159,0.25);
  margin-top: 80px;
}

.indexinfo {
  font-size: 30px;
  color: #E5508F;
  text-align: center;
}

.info__learn {
  position: absolute;
  padding-top: 25px;
}

.menu__nav {
  margin: 30px 0;
  text-align: center;
}

.menu__nav li {
  display: inline;
  text-transform: uppercase;
  font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
  padding: 0 40px;
}

.menu__nav a {
  display: inline-block;
  padding: 10px;
}

.menu__content {
  display: inline;
}

.granola__info {
  color: white;
  font-size: 28px;
  padding: 0 260px;
  text-align: center;
  margin-bottom: 60px;
}

.payment__total {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0;
}

.payment__card--text {
  font-size: 36px;
  text-align: center;
  margin: 40px 0;
}

.price {
  font-size: 36px;
  margin: 30px 0px;
}

/* Images */

.logo {
  width: 375px;
  position: relative;
  top: 200px;
  left: 320px;
}

.payment__img {
  width: 230px;
  position: relative;
  left: 395px;
  margin-bottom: 30px;
}

.fas {
  color: #7D92C3;
  font-size: 50px;
}

.fa-chevron-left {
  padding: 60px;
}

.fa-shopping-basket {
  float: right;
  padding: 60px;
}

.fa-plus {
  font-size: 34px;
  padding-left: 15px;
}

.menu__img {
  width: 350px;
  position: relative;
  left: -100px;
  display: inline-block;
}

.granola__img {
  width: 320px;
}

.granola__img2 {
  width: 900px;
  margin: 0 80px;
}

/* Buttons  */
.btn {
  border: none;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-family: 'Noto Sans', sans-serif;
}

.btn:hover {
  cursor: pointer;
}

.btn__index {
  background-color: white;
  color: #E5508F;
  padding: 34px 200px;
  top: 825px;
  right: 130px;
}

.btn__granola {
  background-color: white;
  color: #4C469F;
  width: 50%;
  padding: 20px 0;
  left: 255px;
}

.btn__payment {
  background-color: #FB8BBB;
  color: white;
  width: 60%;
  padding: 15px 0;
  left: 215px;
  margin: 20px 0;
}

.container__btn {
  background-color: white;
  border: none;
  padding: 10px 50px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Noto Sans', sans-serif;
}

.btn__form {
  background-color: #4C469F;
  color: white;
  width: 60%;
  padding: 15px 0;
  left: 215px;
  margin: 20px 0;
}

.form__btn2 {
  background-color: #4C469F;
  color: white;
  width: 60%;
  margin: 50px 0;
  left: 215px;
  padding: 15px 0;
}

.btn__total {
  background-color: white;
  color: #E5508F;
  width: 50%;
  padding: 20px 0;
  left: 255px;
}

.option__select {
  display: block;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  line-height: 1.3;
  padding: 15px 40px;
  width: 50%;
  box-sizing: border-box;
  border: 1px white;
  border-radius: 10px;
  background-color: #4C469F;
  box-shadow: 0 1px 0 1px rgba(76,70,159,0.25);
  margin: 0px 255px 25px 255px;
}

option {
  font-size: 18px;
}

/* Form */

.credit-card {
  width: 360px;
  height: 250px;
  margin: 60px auto 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
}

.form__header {
    height: 60px;
    padding: 20px 30px 0;
    text-align: center;
    font-size: 24px;
}

.form__body {
    height: 340px;
    padding: 30px 30px 20px;
}

.form__header--title {
  font-size: 18px;
  margin: 0;
  color: #5e6977;
}

.form__body--number, .cvv-input input, .form__body--month select, .form__body--year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}

.form__body--number, .form__body--month select, .form__body--year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}

.form__body--number, .cvv-details, .cvv-input input, .form__body--month select, .form__body--year select {
    color: #86939e;
}

.form__body--number {
    width: 90%;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
}

.form__body--month select, .form__body--year select {
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
}

.form__body--month select {
    float: left;
}

.form__body--year select {
    float: right;
}

.cvv-input input {
    float: left;
    width: 145px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background: #fff;
}

.cvv-details {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    float: right;
    margin-bottom: 20px;
}

.cvv-details p {
    margin-top: 6px;
}

/* Grid */

.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-gap: 1em;
}

/* .container > div:nth-child(odd){
  background: #ddd;
} */

.container__text {
  align-self: center;
}

.container__btn-align {
  align-self: center;
}

.container__btn-align button {
  color: #7D92C3
}
